{{define "links"}}
<div class=" links">
    <a href="https://www.linkedin.com/in/markus-fuhlbr%C3%BCgge-22b3b214a"
       target="_blank">
        <img class="logo_color" src="/static/graphics/linkedin_c.svg" alt="LinkedIn">
        <img class="logo_sw" src="/static/graphics/linkedin_sw.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/Fylus" target="_blank">
        <img src="/static/graphics/github.svg" alt="GitHub">
    </a>
    <a href="https://www.artstation.com/markusf" target="_blank">
        <img class="logo_color" src="/static/graphics/artstation_c.svg"
             alt="ArtStation">
        <img class="logo_sw" src="/static/graphics/artstation_sw.svg"
             alt="ArtStation">
    </a>
    <a href="https://www.instagram.com/fyl_3d" target="_blank">
        <img class="logo_color" src="/static/graphics/instagram_c.svg"
             alt="Instagram">
        <img class="logo_sw" src="/static/graphics/instagram_sw.svg" alt="Instagram">
    </a>
</div>
{{end}}