{{ define "header" }}
<div class="burgernav">
    <div class="burgernav-container hidden" id="burgermenu">
        <a href="/">Markus Fuhlbrügge</a>
        <nav class="navigation" aria-label="Burger Menu">
            <a href="/#projects">Projects</a>
            <a href="/#skills">Skills</a>
            <a href="/#contact">Contact</a>
        </nav>
    </div>
    <div class="hamburger-container" id="hamburger-container">
        <div class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</div>
{{end}}